<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
         <handlers>
	          <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
		        </handlers>
			      <httpPlatform processPath="%JAVA_HOME%\bin\java" arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=80 -jar &quot;\home\site\wwwroot\jb-hello-world-maven-0.1.0.jar&quot;"></httpPlatform>
			         </system.webServer>
				 </configuration>